<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTOAzEKSuos0YAjUom8fA1knm9Ha5NVIc</string>
	<key>GCM_SENDER_ID</key>
	<string>719571627580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scooterForm</string>
	<key>PROJECT_ID</key>
	<string>scooter-control-form</string>
	<key>STORAGE_BUCKET</key>
	<string>scooter-control-form.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719571627580:ios:4e6c6b08641618eb43dd39</string>
</dict>
</plist>